@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global design tokens */
:root {
  --color-page: #0f172a;
  --color-default-text: #e2e8f0;
  --color-nav: #1a202c;
  --color-blue-accent: #ff0000;
  --color-blue-accent-hover: #dc2626;
  --color-progress-bg: #334155;
  --color-progress-fill: #f80000;
  --color-card: #1e293b;
  --color-card-hover: #334155;
  --color-default-text: #e2e8f0;
}

html,
body {
  background-color: var(--color-page);
  color: var(--color-default-text);
}

@layer components {
  .card {
    background-color: var(--color-card);
  }

  .card:hover {
    background-color: var(--color-card-hover);
  }

  .icon {
    color: var(--color-default-text);
    font-size: 1.25rem;
  }

  .btn {
    background-color: var(--color-blue-accent);
    color: var(--color-nav);
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color 150ms;
    display: block;
  }

  .btn:hover {
    background-color: var(--color-blue-accent-hover);
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  p {
    @apply text-sm text-[var(--color-default-text)];
  }

  form {
    @apply rounded-xl p-4;
  }
  lable {
    @apply mt-4;
  }
  input,
  select,
  textarea {
    @apply m-1 rounded p-1 bg-[var(--color-card)] text-[var(--color-default-text)] border border-gray-600;
  }
}
